.minesweeper-board {
  border: 2px solid #000;
  margin: 2em;
  display: inline-block;
  border-radius: 4px;
  padding: 1px;
  font: 14px sans-serif;
  text-align: center;

  .row {
    .cell {
      display: table-cell;
      vertical-align: middle;
      width: 23px;
      height: 23px;
      box-sizing: border-box;
      border-left: 1px solid #888;
      border-top: 1px solid #888;
      background: #aaa;
      color: #4444ff;
      cursor: default;

      &:last-child {
        border-right: 1px solid #888;
      }

      &.uncovered {
        background: transparent;
      }

      &.fail {
        color: #f00 !important;
      }

      &.flagged {
        color: #00f;
        &:after {
          content: "\2691";
        }
      }

      &.bomb {
        color: #222;
        &:after {
          content: "\01F4A3";
        }
        &.flagged {
          color: #3a3;
        }
      }

      &.covered:hover {
        background: #fd8;
        cursor: pointer;
      }
    }
    &:last-child {
      .cell {
        border-bottom: 1px solid #888;
      }
    }
  }

  &.finished {
    background-color: #ffc;
    border-color: red;
  }
}
